{
  "env": {
    "build": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "safari >= 7"
              ],
              "node": "current"
            },
            "modules": false
          }
        ],
        "react",
        "stage-0"
      ],
      "plugins": ["transform-inline-environment-variables", "transform-class-properties"]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "react",
        "stage-0"
      ],
      "plugins": [
        [
          "transform-object-rest-spread", {"useBuiltIns": true}]
      ]
    }
  }
}
